.header {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    justify-content: center;

    &__container {
        width: 100%;
        max-width: $container-max-width;
        margin: 2rem 0 10rem 0;
    }

    &__list {
        display: flex;
        gap: 4rem;
        margin-bottom: 5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--active {
            border: 1px solid $color-white;
            padding: 1rem;
            border-radius: 2.5rem;
        }
    }

    &__description {
        margin: 2rem 0;
    }

    &__button {
        background-color: $color-primary-light;
        color: $color-white;
        font-weight: 500;
        border: none;
        padding: 1rem;
        outline: none;
        cursor: pointer;
    }
}