$color-white: #fff;
$color-black: #000;
$color-gray-light: lightgray;
$color-gray-normal: gray;
$color-gray-normal-dark: #555;
$color-primary: #003580;
$color-primary-light: #0071c2;
$color-ascent: #febb02;

$box-shawdow-primary: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);


$font-default: 1.6rem;
$font-small: 1.4rem;
$font-footer: 1.2rem;
$font-default-mobile: 2.2rem;
$font-popping: 'Poppins',
sans-serif;

$container-max-width: 1024px;