.featured {
    width: 100%;
    max-width: $container-max-width;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    z-index: 1;

    &__item {
        position: relative;
        color: $color-white;
        border-radius: 10px;
        overflow: hidden;
        height: 25rem;
    }

    &__img {
        width: 100%;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }
}