.hotel {

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    &__slider {
        position: sticky;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-slider-bg;
        z-index: 999;
        display: flex;
        align-items: center;
    }

    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
        color: $color-gray-light;
        cursor: pointer;
    }

    &__arrow {
        margin: 2rem;
        font-size: 5rem;
        color: $color-gray-light;
        cursor: pointer;
    }

    &__slider-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slider-img {
        width: 80%;
        height: 70vh;
        object-fit: cover;
    }

    &__wrapper {
        width: 100%;
        max-width: $container-max-width;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }

    &__book-now {
        position: absolute;
        top: 1rem;
        right: 0;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 1rem 2rem;
        background-color: $color-primary-light;
        color: $color-white;
        font-weight: bold;
        cursor: pointer;
    }

    &__title {
        font-size: 2.4rem;
    }

    &__address {
        font-size: $font-footer;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__distance {
        color: $color-primary-light;
        font-weight: 500;
    }

    &__price-highlight {
        color: $color-success;
        font-weight: 500;
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: .5rem;
    }

    &__img-wrapper {
        width: 33%;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 2rem;
    }

    &__detail-texts {
        flex: 3;
    }

    &__description {
        font-size: $font-small;
        margin-top: 2rem;
    }

    &__detail-price {
        flex: 1;
        background-color: $color-blue-light;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &>h1 {
            font-size: 1.8rem;
            color: $color-gray-normal-dark;
        }

        &>span {
            font-size: $font-small;
        }

        &>h2 {
            font-weight: 300;
        }

        &>button {
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 1rem 2rem;
            background-color: $color-primary-light;
            color: $color-white;
            font-weight: bold;
            cursor: pointer;
        }
    }
}