.hotels {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    &__wrapper {
        width: 100%;
        max-width: $container-max-width;
        display: flex;
        gap: 2rem;
    }

    &__search {
        flex: 1;
        background-color: $color-ascent;
        padding: 2rem;
        border-radius: 1rem;
        position: sticky;
        top: 1rem;
        height: max-content;

        &>button {
            padding: 1rem;
            background-color: $color-primary-light;
            color: $color-white;
            border: none;
            outline: none;
            border-radius: 5px;
            width: 100%;
            font-weight: 500;
            cursor: pointer;
        }
    }

    &__title {
        font-size: 2rem;
        color: $color-gray-normal-dark;
        margin-bottom: 1rem;
    }

    &__search-item {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;

        &>label {
            font-size: $font-footer;
        }

        &>input {
            height: 3rem;
            padding: .5rem;
            border: none;
            outline: none;
            border-radius: 3px;
        }

        &>span {
            height: 3rem;
            padding: .5rem;
            border-radius: 3px;
            background-color: $color-white;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &__search-options {
        padding: 1rem;
    }

    &__search-options-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        color: $color-gray-normal-dark;
        font-size: $font-footer;
    }

    &__search-options-input {
        width: 5rem;
        padding: .5rem;
        border: none;
        outline: none;
        border-radius: 3px;
    }

    &__result {
        flex: 3;
    }
}